<h1>Editing Zombie</h1>

<%= render 'form', zombie: @zombie %>

<%= link_to '<button class="button"> Mostrar </button>'.html_safe, @zombie %>
<%= link_to '<button class="button"> Regresar </button>'.html_safe, zombies_path %>

