<table>
    <thead>
        <br>
        <br>
        <br>
        <br>
        <h3><small>A D M I N</small></h3>
    <tr>
        <th>Email</th>
      <th>Role</th>
      </tr>
  </thead>
  
<tbody>
    <% @users.each do |user| %>
<tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
  
            
</tr>    
<%end%>    
</tbody>
</table>